Ejercicio_boletin2/Ejercicio1/Ejercicio_Minecraft_1.dtd

<!ELEMENT minecraftItems (item+)>
    <!ELEMENT item (name, type, damage?, description)>
        <!ELEMENT id (#PCDATA)>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT type (#PCDATA)>
        <!ELEMENT damage (#PCDATA)>
        <!ELEMENT description (#PCDATA)>
        <!ELEMENT rarity (#PCDATA)>

<!ATTLIST minecraftItems lang CDATA #REQUIRED>
<!ATTLIST item id ID #REQUIRED
          rarity (comun|raro|epico) #REQUIRED>
