Ejercicio_boletin2/Ejercicio4/Ejercicio_Tres_raya.dtd

<!ELEMENT partida (jugadores, movimientos)>
    <!ELEMENT jugadores (jugador+)>
        <!ELEMENT jugador (nombre, ficha)>
            <!ELEMENT nombre (#PCDATA)>
            <!ELEMENT ficha (#PCDATA)>
    <!ELEMENT movimientos (movimiento+)>
        <!ELEMENT movimiento (turno, jugador, posicion)>
            <!ELEMENT turno (#PCDATA)>
            <!ELEMENT posicion (fila, columna)>
                <!ELEMENT fila (#PCDATA)>
                <!ELEMENT columna (#PCDATA)>
